In [1]:
import pandas as pd
import mysql.connector

In [2]:
dfbus1=pd.read_csv("APSRTC_Bus_Details.csv")
dfbus2=pd.read_csv("ASTC_Bus_Details.csv")
dfbus3=pd.read_csv("BSRTC_Bus_Details.csv")
dfbus4=pd.read_csv("HRTC_Bus_Details.csv")
dfbus5=pd.read_csv("JKRTC_Bus_Details.csv")
dfbus6=pd.read_csv("KSRTC_Bus_Details.csv")
dfbus7=pd.read_csv("PEPSU_Bus_Details.csv")
dfbus8=pd.read_csv("SBSTC_Bus_Details.csv")
dfbus9=pd.read_csv("TSRTC_Bus_Details.csv")
dfbus10=pd.read_csv("WBTC_Bus_Details.csv")

In [3]:
dfbus=pd.concat([dfbus1,dfbus2,dfbus3,dfbus4,dfbus5,dfbus6,dfbus7,dfbus8,dfbus9,dfbus10])
dfbus

,Bus Name,Bus Type,From,To,Price,Starting Point,Ending Point,Seat Available,Start Time,Reach Time,Total Travel Time,Bus Rating,Links
0,APSRTC - 35085,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),Vijayawada,Hyderabad,720.0,Rtc bus stand,Kukatpally,40 Seats available,18:30,00:30,06h 00m,3.8,https://www.redbus.in/bus-tickets/vijayawada-t...
1,APSRTC - 3613,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Vijayawada,Hyderabad,469.0,Auto Nagar,Kukatpally,30 Seats available,19:00,02:42,07h 42m,3.3,https://www.redbus.in/bus-tickets/vijayawada-t...
2,APSRTC - 9316,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Vijayawada,Hyderabad,469.0,Auto Nagar,Kukatpally,25 Seats available,20:20,04:10,07h 50m,4.2,https://www.redbus.in/bus-tickets/vijayawada-t...
3,APSRTC - 35189,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),Vijayawada,Hyderabad,670.0,Rtc bus stand,Hayathnagar,35 Seats available,20:30,01:05,04h 35m,3.9,https://www.redbus.in/bus-tickets/vijayawada-t...
4,APSRTC - 9651,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Vijayawada,Hyderabad,469.0,Auto Nagar,Kukatpally,24 Seats available,21:00,04:41,07h 41m,4.6,https://www.redbus.in/bus-tickets/vijayawada-t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,NaN,NaN,Kolkata,Siliguri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/kolkata-to-s...
57,NaN,NaN,Kolkata,Siliguri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/kolkata-to-s...
58,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),Kolkata,Asansol (West Be...,524.0,Dankoni,Chelidanga,37 Seats available,19:40,23:25,04h 05m,4.2,https://www.redbus.in/bus-tickets/kolkata-to-a...
59,Royal Cruiser,Volvo A/C Seater (2+2),Kolkata,Asansol (West Be...,523.0,Santragachi,Chelidanga,17 Seats available,19:45,00:15,04h 30m,3.7,https://www.redbus.in/bus-tickets/kolkata-to-a...
60,Beauty Travels,NON A/C Seater / Sleeper (2+2),Kolkata,Asansol (West Be...,380.0,Babughat,Asansol,36 Seats available,20:20,00:30,04h 10m,3.0,https://www.redbus.in/bus-tickets/kolkata-to-a...

In [4]:
df = dfbus.rename(columns={'Bus Name': 'Bus_Name',
                           'Bus Type': 'Bus_Type',
                           'From': 'Start_From',
                           'To': 'Destination',
                           'Price': 'Price',
                           'Starting Point': 'Starting_Point',
                           'Ending Point': 'Ending_Point',
                           'Seat Available': 'Seat_Available',
                           'Start Time': 'Start_Time',
                           'Reach Time': 'Reach_Time',
                           'Total Travel Time': 'Total_Travel_Time',
                           'Bus Rating': 'Bus_Rating',
                           'Links': 'Links',},)

In [5]:
df.to_csv("All_Bus_Details.csv", index=False)

In [6]:
df.isna().sum()

Bus_Name             45
Bus_Type             55
Start_From            0
Destination           0
Price                46
Starting_Point       58
Ending_Point         58
Seat_Available       52
Start_Time           45
Reach_Time           45
Total_Travel_Time    45
Bus_Rating           44
Links                 0
dtype: int64

In [7]:
# Drop rows with any empty cells
df.dropna(how='any', inplace=True)

In [8]:
df.isna().sum()

Bus_Name             0
Bus_Type             0
Start_From           0
Destination          0
Price                0
Starting_Point       0
Ending_Point         0
Seat_Available       0
Start_Time           0
Reach_Time           0
Total_Travel_Time    0
Bus_Rating           0
Links                0
dtype: int64

In [9]:
print(df['Bus_Name'].isnull().sum())

0

In [10]:
df.shape

(4974, 13)

In [11]:
df['Links'].unique

<bound method Series.unique of 0     https://www.redbus.in/bus-tickets/vijayawada-t...
1     https://www.redbus.in/bus-tickets/vijayawada-t...
2     https://www.redbus.in/bus-tickets/vijayawada-t...
3     https://www.redbus.in/bus-tickets/vijayawada-t...
4     https://www.redbus.in/bus-tickets/vijayawada-t...
                            ...
54    https://www.redbus.in/bus-tickets/kolkata-to-s...
55    https://www.redbus.in/bus-tickets/kolkata-to-s...
58    https://www.redbus.in/bus-tickets/kolkata-to-a...
59    https://www.redbus.in/bus-tickets/kolkata-to-a...
60    https://www.redbus.in/bus-tickets/kolkata-to-a...
Name: Links, Length: 4974, dtype: object>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4974 entries, 0 to 60
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           4974 non-null   object
 1   Bus_Type           4974 non-null   object
 2   Start_From         4974 non-null   object
 3   Destination        4974 non-null   object
 4   Price              4974 non-null   float64
 5   Starting_Point     4974 non-null   object
 6   Ending_Point       4974 non-null   object
 7   Seat_Available     4974 non-null   object
 8   Start_Time         4974 non-null   object
 9   Reach_Time         4974 non-null   object
 10  Total_Travel_Time  4974 non-null   object
 11  Bus_Rating         4974 non-null   object
 12  Links              4974 non-null   object
dtypes: float64(1), object(12)
memory usage: 544.0+ KB

In [13]:
df['Start_Time']=pd.to_datetime(df['Start_Time'],format="%H:%M").dt.strftime("%H:%M")

In [14]:
df['Reach_Time']=pd.to_datetime(df['Reach_Time'],format="%H:%M").dt.strftime('%H:%M')

In [15]:
print(type(df['Start_Time'][0]))

<class 'pandas.core.series.Series'>

In [16]:
print(type(df['Reach_Time'][0]))

<class 'pandas.core.series.Series'>

In [17]:
df['Start_Time']

0     18:30
1     19:00
2     20:20
3     20:30
4     21:00
      ...
54    19:50
55    21:30
58    19:40
59    19:45
60    20:20
Name: Start_Time, Length: 4974, dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4974 entries, 0 to 60
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           4974 non-null   object
 1   Bus_Type           4974 non-null   object
 2   Start_From         4974 non-null   object
 3   Destination        4974 non-null   object
 4   Price              4974 non-null   float64
 5   Starting_Point     4974 non-null   object
 6   Ending_Point       4974 non-null   object
 7   Seat_Available     4974 non-null   object
 8   Start_Time         4974 non-null   object
 9   Reach_Time         4974 non-null   object
 10  Total_Travel_Time  4974 non-null   object
 11  Bus_Rating         4974 non-null   object
 12  Links              4974 non-null   object
dtypes: float64(1), object(12)
memory usage: 673.1+ KB

In [19]:
df['Bus_Rating'] = pd.to_numeric(df['Bus_Rating'], errors='coerce')

In [20]:
df['Bus_Rating']

0     3.8
1     3.3
2     4.2
3     3.9
4     4.6
     ...
54    4.6
55    4.5
58    4.2
59    3.7
60    3.0
Name: Bus_Rating, Length: 4974, dtype: float64

In [21]:
df['Seat_Available'].dtype

dtype('O')

In [22]:
df['Price'].unique()

array([ 720.  ,  469.  ,  670.  ,  781.  ,  567.  ,  607.  ,  446.  ,
        839.  ,  639.  ,  436.  ,  396.  ,  480.  ,  440.  ,  533.  ,
        352.  ,  354.  ,  442.  ,  450.  ,  350.  ,  783.  ,  337.  ,
        340.  ,  595.  ,  790.  ,  610.  ,  550.  ,  500.  ,  333.  ,
        630.  ,  762.  ,  522.  ,  666.  ,  510.  ,  549.  ,  600.  ,
        560.  ,  690.  ,  570.  ,  637.  ,  599.  ,  800.  ,  528.  ,
        590.  ,  412.  ,  565.  ,  488.  ,  420.  ,  581.  ,  444.  ,
        517.  ,  633.  ,  655.  ,  737.  ,  635.  ,  414.  ,  795.  ,
        376.  ,  377.  , 1354.  ,  383.  ,  392.  ,  378.  ,  380.  ,
        530.  ,  328.  ,  664.  ,  369.  ,  400.  ,  449.  ,  638.  ,
        478.  ,  658.  ,  696.  ,  324.  ,  575.  ,  801.  ,  580.  ,
        741.  ,  880.  ,  490.  ,  629.  ,  910.  ,  858.  ,  895.  ,
        900.  ,  269.  ,  281.  ,  250.  ,  302.  ,  247.  ,  266.  ,
        499.  ,  186.  ,  304.  ,  314.  ,  399.  ,  699.  ,  439.  ,
        526.  ,  656.  ,  349.  ,  850.  ,  650.  ,  899.  ,  940.  ,
        849.  ,  700.  , 1090.  ,  300.  , 1100.  , 1000.  , 5000.  ,
        307.  ,  750.  , 2049.  , 2499.  , 2000.  ,  736.  ,  294.  ,
        280.  ,  398.  ,  284.  ,  425.  ,  506.  ,  362.  ,  475.  ,
        799.  ,  660.  ,  820.  ,  523.  ,  627.  ,  438.  ,  775.  ,
        540.  ,  589.  , 4750.  , 1500.  , 1950.  , 2500.  , 1299.  ,
       1140.  ,  564.  ,  605.  ,  574.  ,  882.  ,  572.  ,  692.  ,
        784.  ,  694.  , 1082.  ,  579.  ,  405.  ,  583.  ,  538.  ,
        870.  ,  935.  ,  481.  ,  555.  , 1990.  ,  615.  ,  743.  ,
        495.  , 1350.  , 1156.  , 1130.  ,  810.  ,  624.  ,  602.  ,
        719.  ,  556.  ,  671.  ,  852.  ,  855.  ,  992.  ,  684.  ,
       1050.  ,  453.  ,  990.  ,  830.  ,  665.  ,  749.  ,  726.  ,
        765.  ,  752.  ,  360.  ,  648.  ,  417.  ,  617.  ,  562.  ,
        342.  ,  312.  ,  344.  ,  427.  ,  463.  ,  474.  ,  777.  ,
       3999.  , 1650.  ,  470.  ,  502.  ,  606.  ,  649.  ,  501.  ,
        740.  ,  949.  ,  732.  , 1199.  , 3500.  ,  704.  ,  999.  ,
       1150.  , 1390.  ,  592.  ,  558.  ,  518.  ,  829.  , 1112.  ,
       1254.  , 1200.  ,  890.  ,  646.  ,  451.  ,  483.  ,  585.  ,
        626.  ,  404.  ,  667.  , 3000.  , 1490.  , 3800.  ,  929.  ,
        382.  ,  524.  ,  498.  ,  375.  ,  675.  ,  260.  ,  252.  ,
        263.  ,  401.  ,  248.  ,  261.  ,  316.  ,  318.  ,  359.  ,
        258.  ,  680.  ,  237.  ,  618.  ,  738.  , 1275.  , 1300.  ,
       1249.  , 1049.  , 1113.  ,  941.  , 1863.  , 1169.  ,  809.  ,
        329.  ,  265.  ,  416.  , 4400.  , 1900.  ,  909.  , 1680.  ,
       1280.  , 1250.  , 1700.  , 1799.  , 1044.  , 2475.  ,  277.  ,
        217.  ,  220.  ,  170.  ,  246.  ,  200.  ,  215.  ,  245.  ,
        508.  ,  428.  ,  443.  ,  332.  ,  189.  , 1099.  , 1190.  ,
        693.  ,  972.  ,  975.  , 1080.  ,  345.  ,  455.  , 2375.  ,
        370.  , 1710.  ,  346.  ,  846.  ,  520.  ,  779.  ,  730.  ,
        210.  ,  353.  ,  330.  ,  422.  ,  467.  ,  435.  ,  950.  ,
       1780.  ,  464.  ,  433.  ,  484.  ,  509.  ,  808.  ,  513.  ,
        854.  ,  903.  , 2849.  , 1139.  , 1599.  ,  759.  ,  679.  ,
        386.  ,  355.  ,  661.  , 1016.  ,  823.  ,  616.  , 1290.  ,
       1011.  ,  770.  ,  473.  ,  710.  , 1399.  ,  889.  ,  853.  ,
       1160.  , 1110.  ,  553.  ,  516.  ,  460.  ,  532.  ,  668.  ,
        631.  ,  623.  ,  698.  ,  569.  ,  874.  ,  688.  , 1018.  ,
        776.  ,  876.  ,  729.  ,  819.  ,  430.  ,  188.  ,  205.  ,
        301.  ,  268.  ,  209.  ,  149.  ,  253.  ,  222.  ,  204.  ,
        338.  ,  718.  ,  728.  , 1303.  ,  731.  , 1119.  , 1123.  ,
        780.  ,  919.  ,  711.  , 1022.  ,  943.  ,  756.  ,  554.  ,
        373.  ,  568.  ,  371.  ,  609.  ,  157.  ,  613.  , 1131.  ,
        968.  ,  548.  ,  805.  , 1020.  ,  960.  ,  712.  ,  462.  ,
        957.  , 9499.  ,  487.  ,  486.  ,  479.  , 1999.  ,  767.  ,
        545.  ,  584.  ,  390.  ,  367.  ,  745.  ,  625.  ,  672.  ,
        768.  ,  723.  ,  928.  ,  914.  ,  970.  ,  920.  , 1499.  ,
        162.  ,  238.  ,  706.  ,  980.  ,  812.  ,  879.  ,  787.  ,
        634.  ,  611.  ,  792.  ,  677.  ,  669.  ,  857.  ,  620.  ,
        230.  ,  468.  ,  601.  ,  537.  ,  525.  , 1040.  ,  685.  ,
       1170.  ,  193.  ,  213.  , 1025.  , 1105.  , 1899.  , 1015.  ,
        541.  ,  845.  ,  622.  ,  507.  ,  892.  ,  867.  ,  529.  ,
       1149.  , 1103.  ,  938.  ,  535.  ,  619.  ,  563.  , 2199.  ,
        511.  ,  764.  ,  674.  , 1709.  ,  546.  ,  942.  ,  539.  ,
       1649.  , 1064.  , 1446.  ,  822.  , 1428.  ,  657.  ,  701.  ,
       1079.  , 1439.  , 1699.  ,  295.  ,  309.  ,  364.77,  604.  ,
        608.  , 1118.  , 1008.  , 1093.  ,  640.  ,  825.  ,  816.  ,
       1434.  , 1903.81,  786.  ,  791.  , 1529.  ,  834.  ,  755.  ,
        746.  , 1259.  , 1295.  ,  612.  ,  578.  ,  429.  ,  434.  ,
        724.  ,  461.  ,  751.  , 1437.  , 1424.  , 1159.  ,  519.  ,
        721.  ,  678.  ,  716.  ,  758.  ,  715.  , 1342.  ,  865.  ,
        866.  ,  733.  ,  713.  ,  456.  ,  531.  ,  722.  ,  458.  ,
        477.  ,  395.  ,  365.  ,  391.  ,  403.  ,  415.  ,  683.  ,
        224.  ,  493.  ,  793.  ,  457.  ,  717.  ,  561.  ,  847.  ,
        322.  ,  709.  ,  702.  , 1191.  ,  760.  , 1158.  ,  552.  ,
        476.  ,  796.  ,  497.  ,  489.  ,  242.  ,  262.  ,  240.  ,
        307.62,  385.  ,  782.  ,  485.  ,  912.  ,  856.  , 1824.  ,
        979.  , 1339.  , 1388.  ,  471.  ,  833.  ,  104.  ,  123.  ,
        299.  ,  924.  ,  278.  ,  249.  , 2699.  ,  288.  ,  255.  ,
        695.  ,  739.  ,  231.  ,  452.  ,  419.  ,  319.  ,  586.  ,
        742.  ,  515.  ,  904.  ,  426.  ,  181.  ,  216.  ,  201.  ,
        227.  ,  174.  ,  381.  ,  341.  ,  111.  ,  145.  ,  103.  ,
        134.  ,  108.  , 1212.  ,  129.  ,  155.  ,  512.  ,  321.  ,
        431.  , 1007.  , 3300.  ,  969.  , 3850.  , 1216.  ,  883.  ,
        465.  ,  180.  ,   95.  ,  100.  ,  320.  ,  285.  ,  394.  ,
        347.  ,   78.  ,  126.  ,  233.  ,   85.  ,   68.  ,   80.  ,
       1349.  ,  107.  ,   96.  ,  267.  ,  144.  ,  199.  ,   70.  ,
        389.  ,  410.  , 4000.  ,  689.  ,  559.  ,  283.  ,  343.  ,
        772.  ,  358.  ,  577.  ,  761.  ,  705.  ,  504.  , 3996.  ,
        447.  ,  409.  ,  665.71,  351.  , 1045.  , 2600.  , 2850.  ,
        289.  ,  735.  , 1480.  , 2222.  , 1074.  ,  818.  ,  725.  ,
        926.  ,  466.  ,  859.  ,  873.  , 1271.  , 1035.  ,  824.  ,
        989.  ,  977.  ,  994.  ,  766.  ,  860.  ,  840.  , 1400.  ,
       1092.  ,  902.  , 4999.  , 3099.  ])

In [23]:
df['Price']=df['Price'].astype(float).round(2)

In [24]:
df['Price']

0      720.0
1      469.0
2      469.0
3      670.0
4      469.0
       ...
54    1500.0
55    1200.0
58     524.0
59     523.0
60     380.0
Name: Price, Length: 4974, dtype: float64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4974 entries, 0 to 60
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           4974 non-null   object
 1   Bus_Type           4974 non-null   object
 2   Start_From         4974 non-null   object
 3   Destination        4974 non-null   object
 4   Price              4974 non-null   float64
 5   Starting_Point     4974 non-null   object
 6   Ending_Point       4974 non-null   object
 7   Seat_Available     4974 non-null   object
 8   Start_Time         4974 non-null   object
 9   Reach_Time         4974 non-null   object
 10  Total_Travel_Time  4974 non-null   object
 11  Bus_Rating         4922 non-null   float64
 12  Links              4974 non-null   object
dtypes: float64(2), object(11)
memory usage: 673.1+ KB

In [26]:
df['Total_Travel_Time'] = df['Total_Travel_Time'].str.replace('h ', ':').str.replace('m', '')

In [27]:
df['Total_Travel_Time'].unique()

array(['06:00', '07:42', '07:50', '04:35', '07:41', '06:40', '07:40',
       '05:05', '06:08', '08:07', '06:25', '06:20', '05:42', '07:05',
       '07:15', '06:35', '07:00', '05:40', '05:55', '05:35', '05:31',
       '07:47', '06:30', '07:20', '06:10', '05:20', '04:46', '06:15',
       '05:52', '06:45', '05:00', '06:05', '06:14', '05:30', '05:59',
       '05:25', '04:45', '04:50', '04:25', '05:45', '04:40', '04:30',
       '04:55', '07:25', '06:55', '06:54', '07:02', '07:35', '06:50',
       '06:03', '07:32', '06:31', '05:23', '04:53', '06:46', '07:30',
       '08:00', '07:45', '07:10', '07:55', '08:05', '06:04', '05:15',
       '07:09', '08:15', '07:12', '08:26', '08:20', '08:10', '08:40',
       '03:00', '03:30', '03:05', '04:00', '03:40', '04:59', '04:10',
       '04:15', '03:45', '04:05', '03:25', '05:16', '05:10', '05:56',
       '05:50', '05:41', '06:01', '05:46', '07:01', '03:50', '03:52',
       '04:21', '03:35', '03:20', '03:15', '01:30', '0-18:0-59', '05:36',
       '05:14', '06:19', '09:50', '09:15', '08:45', '08:30', '09:00',
       '09:35', '09:10', '08:24', '08:25', '08:35', '08:55', '06:29',
       '10:06', '10:01', '08:36', '09:06', '07:27', '06:34', '06:28',
       '06:33', '06:42', '06:36', '07:38', '07:03', '08:50', '06:44',
       '06:56', '08:31', '04:20', '06:27', '07:31', '03:34', '04:03',
       '03:55', '02:50', '04:57', '03:31', '05:01', '04:51', '0-8:0-5',
       '06:21', '06:06', '07:51', '07:46', '09:45', '11:30', '10:15',
       '09:05', '09:30', '10:30', '09:25', '09:20', '09:18', '10:00',
       '08:48', '05:47', '05:09', '05:48', '05:29', '05:51', '07:52',
       '07:56', '05:43', '08:06', '08:08', '08:44', '03:19', '02:59',
       '02:45', '02:35', '03:10', '02:55', '03:09', '02:30', '02:29',
       '01:35', '00:49', '03:43', '06:07', '01:50', '0-1:0-15', '02:00',
       '04:17', '04:09', '03:57', '05:03', '06:26', '04:41', '04:01',
       '06:11', '02:15', '03:16', '05:58', '16:45', '04:58', '07:21',
       '05:26', '04:54', '05:27', '05:04', '05:33', '05:37', '05:18',
       '03:01', '06:22', '10:45', '10:35', '10:05', '09:40', '10:10',
       '09:01', '07:53', '11:10', '10:25', '07:08', '07:26', '07:28',
       '07:37', '07:43', '06:43', '07:24', '07:16', '03:14', '27:30',
       '08:04', '09:22', '06:17', '07:59', '07:14', '08:19', '04:44',
       '04:28', '03:39', '03:29', '02:20', '05:11', '08:01', '08:16',
       '02:10', '08:37', '06:48', '08:29', '09:09', '07:49', '06:13',
       '06:52', '06:23', '08:13', '07:44', '06:41', '11:00', '05:32',
       '03:02', '07:36', '09:32', '07:19', '06:16', '14:40', '14:16',
       '09:19', '07:48', '12:00', '12:15', '18:00', '12:35', '11:15',
       '11:19', '13:05', '13:15', '14:30', '19:45', '0-6:00', '15:00',
       '03:44', '03:47', '13:30', '14:35', '13:55', '12:30', '15:43',
       '15:45', '13:00', '10:16', '10:59', '09:47', '10:20', '09:28',
       '07:54', '09:17', '08:57', '10:50', '07:13', '06:59', '08:39',
       '30:40', '06:32', '14:20', '14:10', '13:58', '12:57', '11:16',
       '12:58', '13:25', '12:20', '14:00', '11:05', '11:35', '11:20',
       '13:45', '11:50', '12:45', '13:10', '11:36', '09:48', '13:36',
       '16:15', '11:40', '12:05', '11:53', '10:55', '10:40', '11:25',
       '14:02', '13:29', '11:55', '12:25', '11:44', '11:58', '12:40',
       '10:53', '09:55', '10:34', '11:01', '04:29', '05:12', '13:20',
       '13:35', '12:51', '08:59', '14:15', '12:10', '10:24', '11:31',
       '12:36', '09:52', '09:44', '07:17', '07:06', '12:33', '03:49',
       '05:39', '06:09', '11:39', '09:34', '10:21', '11:08', '11:17',
       '11:47', '11:45', '10:12', '13:50', '01:40', '01:25', '00:40',
       '02:25', '01:45', '09:24', '04:39', '05:54', '03:54', '09:14',
       '05:21', '05:24', '0-19:0-45', '04:31', '03:41', '08:58', '07:34',
       '02:28', '03:24', '02:40', '02:16', '02:26', '03:32', '03:46',
       '09:03', '09:27', '10:11', '06:49', '07:18', '06:24', '03:36',
       '03:53', '0-21:0-15', '01:10', '01:54', '02:04', '01:55', '01:34',
       '02:19', '01:29', '01:59', '03:59', '07:23', '09:31', '05:13',
       '05:02', '04:34', '00:15', '12:50', '09:16', '05:44', '08:14',
       '08:23', '07:57', '07:22', '08:46', '10:44', '15:20', '0-12:0-30'],
      dtype=object)

In [28]:
df['Bus_Type'].unique()

array(['DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)',
       'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', 'VENNELA (A.C. SLEEPER)',
       'INDRA(A.C. Seater)', 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)',
       'STAR LINER(NON-AC SLEEPER 2+1)',
       'NIGHT RIDER (SEATER CUM SLEEPER)', 'RAJDHANI (A.C. Semi Sleeper)',
       'GARUDA PLUS (VOLVO / BENZ A.C Multi Axle)',
       'RAJADHANI AC (CONVERTED METRO LUXURY)', 'eGARUDA',
       'Lahari Non A/C Sleeper Cum Seater', 'A/C Seater / Sleeper (2+1)',
       'Electric A/C Seater (2+2)',
       'Scania Multi-Axle AC Semi Sleeper (2+2)', 'A/C Sleeper (2+1)',
       'AC Sleeper (2+1)', 'Scania AC Multi Axle Sleeper (2+1)',
       'Non A/C Seater / Sleeper (2+1)', 'VE A/C Seater / Sleeper (2+1)',
       'Lahari A/C sleeper', 'Bharat Benz A/C Seater /Sleeper (2+1)',
       'NON A/C Sleeper (2+1)', 'VE A/C Sleeper (2+1)',
       'Volvo 9600 Multi-Axle A/C Sleeper (2+1)',
       'ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)', 'METRO LUXURY A/C',
       'Express(Non AC Seater)', 'NON A/C Seater/ Sleeper (2+1)',
       'NON A/C Semi Sleeper / Sleeper (2+1)', 'A/C Seater/Sleeper (2+1)',
       'NON A/C Seater (2+3)',
       'Volvo A/C B11R Multi Axle Semi Sleeper (2+2)',
       'Volvo Multi-Axle I-Shift A/C Semi Sleeper (2+2)',
       'Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)',
       'Volvo Multi-Axle Sleeper A/C (2+1)',
       'Bharat Benz A/C Sleeper (2+1)', 'SAPTAGIRI EXPRESS',
       'A/C Volvo B11R Multi-Axle Sleeper (2+1)',
       'VE Executive A/C Sleeper (1+1)',
       'A/C Semi Sleeper / Sleeper (2+1)',
       'Volvo Multi-Axle A/C Sleeper (2+1)',
       'NON AC Seater / Sleeper 2+1', 'Electric A/C Seater/Sleeper (2+1)',
       'NON A/C Seater Push Back (2+2)',
       'Volvo Multi Axle B9R A/C Sleeper (2+1)',
       'Mercedes Benz Multi-Axle A/C Sleeper (2+1)',
       'Non AC Seater (2+3)', 'Volvo 9600 A/C Seater/Sleeper (2+1)',
       'NON A/C Executive (2+1)', 'Volvo A/C Semi Sleeper (2+2)',
       'NON A/C Seater (2+2)', 'NON A/C Seater PushBack (2+2)',
       'NON A/C Hi-Tech (2+2)', 'NON A/C Push Back (2+2)',
       'Volvo Multi Axle Sleeper B11R (2+1)', 'Volvo A/C Sleeper (2+1)',
       'Volvo Multi-Axle I-Shift A/C Sleeper (2+1)',
       'NON A/C Seater Semi Sleeper (2+1)',
       'NON AC Seater/ Sleeper (2+1)', 'Non AC Seater (2+1)',
       'Non AC Seater (2+2)', 'NON A/C Seater (2+1)',
       'NON A/C Seater Push Back (2+1)', 'A/C Seater (2+2)',
       'A/C Seater (2+1)', 'A/C Seater / Sleeper (2+2)',
       'AC Seater (2+2)', 'Benz A/C Sleeper (2+1)',
       'A/C Seater Hi-Tech Push Back (2+2)', 'Volvo AC Seater 2+2',
       'A/C Seater / Sleeper (3+1)', 'A/C Seater Push Back (2+2)',
       'Tata A/C Seater (2+2)', 'A/C Executive (2+3)',
       'Ordinary 3+2 Non AC Seater', 'Himsuta AC Seater Volvo/Scania 2+2',
       'Volvo A/C Semi Sleeper (2+2 )',
       'Mercedes Multi-Axle Semi Sleeper (2+2)',
       'Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2)',
       'Bharat Benz A/C Semi Sleeper (2+2)',
       'Super Luxury Volvo AC Seater Pushback 2+2',
       'Volvo 9600 A/C Semi Sleeper (2+2)', 'A/C Semi Sleeper (2+2)',
       'Volvo 9600 Multi Axle Semi-Sleeper (2+2)',
       'Volvo AC Seater (2+2)', 'Scania A/C Semi Sleeper (2+2)',
       'VE A/C Semi Sleeper (2+2)', 'VE A/C Seater (2+2)',
       'Himmani Deluxe 2+2 Non AC Seater', 'HVAC Seater (2+3)',
       'Volvo Multi-Axle A/C Semi Sleeper (2+2)',
       'Volvo Multi-Axle A/C Semisleeper (2+2)',
       'NON A/C Semi Sleeper (2+2)', 'NON A/C Seater / Sleeper (2+2)',
       'NON A/C Sleeper (2+2)', 'Bharat Benz A/C Seater (2+2)',
       'Swift Deluxe Non AC Air Bus (2+2)',
       'Super Fast Non AC Seater (2+3)',
       'Super Express Non AC Seater Air Bus (2+2)',
       'SWIFT-GARUDA A/C SEATER BUS', 'Low Floor AC Seater 2+2',
       'Volvo Multi-Axle B9R A/c Semi Sleeper (2+2)',
       '2+1 Air Suspension A/C Seater / Sleeper', 'NON AC Mini Bus (2+2)',
       'NON A/C Seater / Sleeper (3+1)', 'AC MULTI AXLE',
       'Super Deluxe Non AC Seater Air Bus (2+2)', 'Garuda Premium',
       'AC Seater Hvac 2+2', 'Express Non AC Seater 2+3',
       'Volvo Multi Axle B11R AC Seater\\Sleeper (2+1)',
       'Mercedes Benz A/C Sleeper (2+1)', 'Volvo A/C Seater (2+2)',
       'AC Seater (2+3)', 'A/C Seater (2+3)',
       'A/C Seater Push Back (2+3)', 'Volvo 9600 A/C Seater (2+2)',
       'Volvo Multi-Axle A/C Seater/Sleeper (2+1)',
       'Volvo Multi-Axle A/C seater/sleeper (2+1)',
       'NON A/C Seater Pushback (2+3)', 'LAHARI A/C SLEEPER CUM SEATER',
       'NON A/C Hi-Tech Push Back (2+2)',
       'Rajdhani (AC Semi Sleeper 2+2)', 'NON A/C Airbus (2+2)',
       'Deluxe (Non AC Seater 2+2)'], dtype=object)

In [29]:
# or, if you want to remove rows with NaN values
df.dropna(inplace=True)

# now you can insert the cleaned data into the database

In [30]:
df

,Bus_Name,Bus_Type,Start_From,Destination,Price,Starting_Point,Ending_Point,Seat_Available,Start_Time,Reach_Time,Total_Travel_Time,Bus_Rating,Links
0,APSRTC - 35085,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),Vijayawada,Hyderabad,720.0,Rtc bus stand,Kukatpally,40 Seats available,18:30,00:30,06:00,3.8,https://www.redbus.in/bus-tickets/vijayawada-t...
1,APSRTC - 3613,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Vijayawada,Hyderabad,469.0,Auto Nagar,Kukatpally,30 Seats available,19:00,02:42,07:42,3.3,https://www.redbus.in/bus-tickets/vijayawada-t...
2,APSRTC - 9316,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Vijayawada,Hyderabad,469.0,Auto Nagar,Kukatpally,25 Seats available,20:20,04:10,07:50,4.2,https://www.redbus.in/bus-tickets/vijayawada-t...
3,APSRTC - 35189,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),Vijayawada,Hyderabad,670.0,Rtc bus stand,Hayathnagar,35 Seats available,20:30,01:05,04:35,3.9,https://www.redbus.in/bus-tickets/vijayawada-t...
4,APSRTC - 9651,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Vijayawada,Hyderabad,469.0,Auto Nagar,Kukatpally,24 Seats available,21:00,04:41,07:41,4.6,https://www.redbus.in/bus-tickets/vijayawada-t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,Lokenath Bus Service,Volvo 9600 Multi-Axle A/C Sleeper (2+1),Kolkata,Siliguri,1500.0,Birati More,Siliguri Junction bus stand,19 Seats available,19:50,07:30,11:40,4.6,https://www.redbus.in/bus-tickets/kolkata-to-s...
55,Lokenath Bus Service,Volvo Multi-Axle A/C Seater/Sleeper (2+1),Kolkata,Siliguri,1200.0,RANAGHAT,Siliguri Junction bus stand,19 Seats available,21:30,06:30,09:00,4.5,https://www.redbus.in/bus-tickets/kolkata-to-s...
58,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),Kolkata,Asansol (West Be...,524.0,Dankoni,Chelidanga,37 Seats available,19:40,23:25,04:05,4.2,https://www.redbus.in/bus-tickets/kolkata-to-a...
59,Royal Cruiser,Volvo A/C Seater (2+2),Kolkata,Asansol (West Be...,523.0,Santragachi,Chelidanga,17 Seats available,19:45,00:15,04:30,3.7,https://www.redbus.in/bus-tickets/kolkata-to-a...
60,Beauty Travels,NON A/C Seater / Sleeper (2+2),Kolkata,Asansol (West Be...,380.0,Babughat,Asansol,36 Seats available,20:20,00:30,04:10,3.0,https://www.redbus.in/bus-tickets/kolkata-to-a...

In [31]:
df.to_csv("Bus_Detail_Analysing.csv",index=False)

In [32]:
import pandas as pd

# Assuming df is your DataFrame
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%H:%M')
df['Reach_Time'] = pd.to_datetime(df['Reach_Time'], format='%H:%M')

# Clean the Total_Travel_Time column
df['Total_Travel_Time'] = pd.to_numeric(df['Total_Travel_Time'], errors='coerce')
df.dropna(subset=['Total_Travel_Time'], inplace=True)

# Convert the Total_Travel_Time column to timedelta format
df['Total_Travel_Time'] = pd.to_timedelta(df['Total_Travel_Time'], unit='m')

# Convert the time columns to time format
df['Start_Time'] = df['Start_Time'].dt.time
df['Reach_Time'] = df['Reach_Time'].dt.time

In [33]:
import pandas as pd

# Assuming df is your DataFrame
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%H:%M').dt.time
df['Reach_Time'] = pd.to_datetime(df['Reach_Time'], format='%H:%M').dt.time

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_Name           0 non-null      object
 1   Bus_Type           0 non-null      object
 2   Start_From         0 non-null      object
 3   Destination        0 non-null      object
 4   Price              0 non-null      float64
 5   Starting_Point     0 non-null      object
 6   Ending_Point       0 non-null      object
 7   Seat_Available     0 non-null      object
 8   Start_Time         0 non-null      object
 9   Reach_Time         0 non-null      object
 10  Total_Travel_Time  0 non-null      timedelta64[ns]
 11  Bus_Rating         0 non-null      float64
 12  Links              0 non-null      object
dtypes: float64(2), object(10), timedelta64[ns](1)
memory usage: 0.0+ bytes

In [35]:
import pandas as pd
import mysql.connector

# Establish a MySQL connection
cnx = mysql.connector.connect(
    host="localhost",
    port=3307,
    user="root",
    password="abcd",
    database="Bus"
)

# Create a cursor object
cursor = cnx.cursor()

In [36]:
import pandas as pd
bus_data = pd.read_csv("Bus_Detail_Analysing.csv")  # Replace "bus_data.csv" with your file

In [37]:
import pandas as pd
import mysql.connector

# Read the CSV file
df = pd.read_csv('Bus_Detail_Analysing.csv')

# Establish a connection to your MySQL database
cnx = mysql.connector.connect(
    host="localhost",
    port=3307,
    user="root",
    password="abcd",
    database="redbus"
)

# Create a cursor object
cursor = cnx.cursor()

create_table_query = """
CREATE TABLE bus_detail (
    Bus_Name VARCHAR(255),
    Bus_Type VARCHAR(255),
    DepartureCity VARCHAR(255),
    Destination VARCHAR(255),
    Price DECIMAL(10, 2),
    Starting_Point VARCHAR(255),
    Ending_Point VARCHAR(255),
    Seat_Available VARCHAR(255),
    Start_Time VARCHAR(255),
    Reach_Time VARCHAR(255),
    Total_Travel_Time VARCHAR(255),
    Bus_Rating DECIMAL(10, 2),
    Links VARCHAR(255)
)
"""
cursor.execute(create_table_query)
cnx.commit()


# Insert the data into the MySQL table
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO bus_detail (
        Bus_Name, Bus_Type, DepartureCity, Destination, Price, Starting_Point, 
        Ending_Point, Seat_Available, Start_Time, Reach_Time, Total_Travel_Time, 
        Bus_Rating, Links
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))

# Commit the changes
cnx.commit()

# Close the MySQL connection
cursor.close()
cnx.close()

In [38]:
df['Price'].mean()

np.float64(656.2785656237302)

In [39]:
min(df['Price'])

68.0

In [40]:
min(df['Bus Rating'])

KeyError: 'Bus Rating'

In [82]:
max(df['Bus Rating'])

5.0